@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-barlow);
  --font-serif: var(--font-gloock);
  --font-montserrat: var(--font-montserrat);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

/* Custom Swiper Pagination Bullets */
.custom-bullet {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem !important;
  background-color: #49614e;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 4px;
}

.custom-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  width: 2rem;
  background-color: #49614e;
}
